[submodule "public_repos/apel"]
	path = public_repos/apel
	url = https://github.com/wanderlust/apel.git
[submodule "public_repos/semi"]
	path = public_repos/semi
	url = https://github.com/wanderlust/semi.git
[submodule "public_repos/flim"]
	path = public_repos/flim
	url = https://github.com/wanderlust/flim.git
[submodule "public_repos/auto-complete-latex-light"]
	path = public_repos/auto-complete-latex-light
	url = https://github.com/tequilasunset/auto-complete-latex-light.git
[submodule "public_repos/calfw-gcal.el"]
	path = public_repos/calfw-gcal.el
	url = https://github.com/myuhe/calfw-gcal.el.git
[submodule "public_repos/elscreen"]
	path = public_repos/elscreen
	url = https://github.com/knu/elscreen.git
[submodule "public_repos/emacs-calfw"]
	path = public_repos/emacs-calfw
	url = https://github.com/kiwanami/emacs-calfw.git
[submodule "public_repos/magit"]
	path = public_repos/magit
	url = https://github.com/magit/magit.git
[submodule "public_repos/yasnippet"]
	path = public_repos/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "public_repos/markdown-mode"]
	path = public_repos/markdown-mode
	url = http://jblevins.org/git/markdown-mode.git
[submodule "public_repos/org-mode"]
	path = public_repos/org-mode
	url = https://github.com/jwiegley/org-mode.git
